[submodule "02-IteratorsAndGenerators/iterators-and-generators-demo"]
	path = 02-IteratorsAndGenerators/iterators-and-generators-demo
	url = https://github.com/bartdorsey/iterators-and-generators-demo.git
[submodule "04-DesignToCode/figma-storybook"]
	path = 04-DesignToCode/figma-storybook
	url = https://github.com/iseykim/figma-storybook.git
[submodule "05-ReactHooks/GoodieBag.Solution"]
	path = 05-ReactHooks/GoodieBag.Solution
	url = https://github.com/cartanb/GoodieBag.Solution
[submodule "06-GitTogether/git-together"]
	path = 06-GitTogether/git-together
	url = https://github.com/helsung/git-together.git
[submodule "01-CommandLine/cmdline_async_workshop"]
	path = 01-CommandLine/cmdline_async_workshop
	url = https://github.com/zacharyad/cmdline_async_workshop.git
